{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extraheading %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="about-section text-center">
      <h1 style="text-align:center">About Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error exercitationem ipsa ipsum labore maiores molestiae neque non officiis quod voluptatem. Beatae cupiditate dolorem error iste laboriosam repellendus rerum, sunt voluptates?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laboriosam, minima neque nulla pariatur quia sapiente? Accusantium commodi esse, excepturi fuga nemo nisi officia, quaerat rem sint tempora totam voluptate!</p>
    </div>
</div>
{% endblock %}
