<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="College khajagharGhar at Itahari International College, IT College of Nepal, First college to implement timebased khajaghar +977 9815369883, khajgharghar@gmail.com" />
        <meta name="keywords" content="Nawaraj Luitel,student at Itahari International College|IIC|iic,khajgharghar,canteen in nepal, student order, canteen order, online canteen, khaja, momo, chaumin " />
        <meta property="og:title" content="Collegekhajghar:IIC Nepal|first online cateen, food order"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="media/products/foodIcon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
       {% load static %}
        <link rel="stylesheet" href="{% static 'css/navigation.css'%}">
        {% block extraheading %}
        {% endblock %}
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
            <form class="form-inline my-2 my-lg-0 outafter" action="{% url 'collegekhajaghar:search' %}" method="GET">
            <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if request.user.customer %}
            <div class="header__img">
                <a href="{% url 'collegekhajaghar:customerprofile' %}">
                    <img src="{% static 'displayPicture/profile.jpg '%}" alt="picture">
                </a>
            </div>
            {% endif %}
        </header>
            <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="{% url 'collegekhajaghar:home' %}" class="nav__logo">
                        <img src="{% static 'foodlogo/foodIcon.png'%}" width="20px" height="30px" alt="logo">
                        <span class="nav__logo-name">IIC Khajaghar</span>
                    </a>

                    <div class="nav__list">
                        <a href="{% url 'collegekhajaghar:home' %}" class="nav__link">
                            <i class='bx bx-grid-alt nav__icon' ></i>
                            <span class="nav__name">Dishes</span>
                        </a>
                        <a href="{% url 'collegekhajaghar:allproducts' %}" class="nav__link">
                            <i class='bx bxs-food-menu nav__icon' ></i>
                            <span class="nav__name">Menu</span>
                        </a>
                        <a href="{% url 'collegekhajaghar:mycart' %}" class="nav__link">
                            <i class='bx bxs-cart-add nav__icon' ></i>
                            <span class="nav__name">Cart</span>
                        </a>
                        {% if request.user.customer %}
                        <a href="{% url 'collegekhajaghar:csorder' %}" class="nav__link">
                            <i class='bx bx-sort-up nav__icon' ></i>
                            <span class="nav__name">Order</span>
                        </a>

                        <a href="{% url 'collegekhajaghar:customerprofile' %}" class="nav__link ">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">Profile</span>
                        </a>
                        {% else %}
                        <a href="{% url 'collegekhajaghar:customerlogin' %}" class="nav__link">
                            <i class='bx bx-log-in nav__icon' ></i>
                            <span class="nav__name">Login</span>
                        </a>
                        <a href="{% url 'collegekhajaghar:customerregistration' %}" class="nav__link">
                            <i class='bx bxs-user-plus nav__icon'></i>
                            <span class="nav__name">Register</span>
                        </a>
                        {% endif %}
                        {% if request.user.customer %}
                        <a href="{% url 'collegekhajaghar:about' %}" class="nav__link">
                            <i class='bx bx-bar-chart-alt-2 nav__icon' ></i>
                            <span class="nav__name">About Us</span>
                        </a>
                        {% endif %}
                        </a>
                    </div>
                        {% if request.user.customer %}
                        <a href="{% url 'collegekhajaghar:customerlogout' %}" class="nav__link">
                            <i class='bx bx-log-out nav__icon' ></i>
                            <span class="nav__name">Log Out</span>
                        </a>
                        {% endif %}
                </div>
            </nav>
      </div>
        {% block content %}
        {% endblock %}
        <!--===== MAIN JS =====-->
        <script src="{% static 'js/base.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% block jscontent %}
        {% endblock %}
    </body>
</html>

