{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Registration{% endblock %}
{% block extraheading %}
    <link rel="stylesheet" href="{% static 'css/customerregistration.css '%}">
{% endblock %}
{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container bcr">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="m-2 pr-8">CKG Registration Form</h3>
            <div class=" border border-white p-3 rounded formclr m-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary">Register as a Customer</button>
                </form>
                <p> Already have an account? <a href="{% url 'collegekhajaghar:customerlogin' %}">Login here</a></p>


            </div>
        </div>
    </div>
</div>
{% endblock %}
