{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Login{% endblock %}
{% block extraheading %}
    <link rel="stylesheet" href="{% static 'css/customerlogin.css '%}">
{% endblock %}
{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <br>
            <br>
            <h3 style="text-align: center">Collegekhajaghar Login </h3>
            <div class=" border border-white p-3 rounded formclr m-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary">Login as a Customer</button>
                    {% if error %}
                    <li style="color: red;">{{error}}</li>
                    {% endif %}
                </form>
            </div>
            <p>Forgot Password?<a href="{% url 'collegekhajaghar:passwordforgot' %}">Reset now.</a> <span style="padding-left:124px;">New Here: <a href="{% url 'collegekhajaghar:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register</a></span></p>
        </div>
    </div>
</div>
{% endblock %}
