{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot password{% endblock %}
{% block extraheading %}
    <link rel="stylesheet" href="{% static 'css/forgetpassword.css '%}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br>
            <br>
            <br>
            {% if request.GET.m == "s" %}
            <h3>Password reset link is sent to your email address. Please check your email immediately. </h3>
            {% else %}
            <h3 class="aligncenter">Enter your recover Email Address</h3>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Invalid Email, Enter valid email again</h4>
            {% endif %}
            <div class="border border-white p-3 rounded formclr ml-10">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h3 class="aligncenter">Forget Password?</h3>
                    {{form.as_p}}
                    <button> Get Reset Link</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

