<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="{% url 'collegekhajaghar:adminhome' %}">Home</a>
        <a href="{% url 'collegekhajaghar:adminorderlist' %}">All Orders</a>
        <a href="{% url 'collegekhajaghar:adminproductlist' %}">All Products</a>
        <a href="{% url 'collegekhajaghar:home' %}" target="_blank">Visit site</a>
    </div>
    {% block content1 %}

    {% endblock %}
</body>
</html>
